
/* Rachel Madison */

body {
  background-color: #fad9d9;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #de5757;
  background-color: white;
  font-family: Georgia, serif;
  display:inline-block;
  padding: 5px;
}

td {
  Padding: 5px
}

textarea {
  resize: none;
}

#orderText {display:inline-block;} 
#orderDropdown {display:inline-block;} 

/* Code for DropDown is from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover */

.dropbtn {
  background-color: #de5757;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow-y: scroll;
  max-height: 200px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #de5757;}
